/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap');

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
 */
:root {
    --light-dark: #96969649;
    --dark-black: #b2b2b2;
    --x-dark-black: #333333;
    --accent-color: #f2994a;
}

/* Global Styles */
/* ============================= */
b {
    color: var(--x-dark-black);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;

}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 30px;
}

.space-p {
    padding-top: 50px;
}

a {
    text-decoration: none;
    color: var(--dark-black);
}

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.a-start {
    align-items: start;
}

.flex-col {
    flex-direction: column;
}

.container {
    max-width: 1100px;
    margin: 0px auto;
    padding: 20px;
}

.t-center {
    text-align: center;
}

.img {
    max-width: 100%;
    height: 100%;
}

.icon {
    color: var(--x-dark-black);
}

/* Nav Styles */
/* ============================= */
nav span {
    transform: rotate(-0.25turn);
    color: var(--dark-black);
    margin-right: 10px;
}

nav p {
    width: 60%;
}

/* Ingrediant Styles */
/* ============================= */
.ingrediant {
    width: 50%;
}

.ingrediant h3 {
    font-weight: 400;
}

.ingrediant .list {
    margin: 20px 0px;
}

.ingrediant .list input {
    margin-right: 15px;
    zoom: 1.5;
}

/* Panel Styles */
/* ============================= */
.panel {
    box-shadow: 0px 0px 20px var(--light-dark);
    border-radius: 12px;
    padding: 50px 35px;
    width: max-content;
}

.panel .icon {
    margin-right: 20px;
    font-size: 2.2rem;
    color: var(--x-dark-black);
}

.panel .col p span {
    color: var(--dark-black);
    display: contents;
    margin-bottom: 10px;
    font-size: .8rem;
}

.panel .row {
    margin-bottom: 40px;
}
.panel .row:hover .icon,.panel .row:hover p{
    color: var(--accent-color) !important;
}
.panel .row:last-child {
    margin-bottom: 0px;
}

/* Instructions Styles */
/* ============================= */
.instructions {
    width: 50%;
}

.instructions .inst-line {
    margin-bottom: 35px;
}

.instructions .number-box {
    background-color: var(--accent-color);
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    aspect-ratio: 1/1;
    border-radius: 6px;
    margin-right: 20px;
}

.instructions .number-box span {
    color: #fff;
    font-weight: 700;
    /* font-family: 'Playfair Display', serif; */
    font-size: 1.2rem;
}

@media only screen and (max-width: 650px) {
    .instructions {
        width: 100%;
    }

    .ingrediant {
        width: 100%;
    }

    .flex-md-col {
        flex-direction: column;
    }

    main .panel {
        order: 1;
    }

    .ingrediant {
        order: 2;
    }

    .panel {
        box-shadow: none;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        width: 100%;
        padding: 0px;
        margin-bottom: 22px;
    }

    .panel .row:first-child {
        order: 1;
    }

    .panel .row:last-child {
        margin-bottom: 40px;
    }

    .panel .row {
        padding: 10px;
    }

    nav p {
        width: 90%;
    }
}